.system-section {
  padding-top:10px;
  padding-bottom:10px;
}

.game-list-row {
  padding-top:5px;
  padding-bottom:5px;
}

.game-list-item {
  padding-left:10px;
}

.selected-game {
  background-color: #335555;
}