.tab-set {
  height:100%;
}

.tab {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.active-tab {
  font-weight: bold;
}

.non-active-tab {
  border-bottom: 1px solid black;
}

.tab-body {
}

.tab-hidden {
  display: none;
}