.info-panel {
  vertical-align: top;
}

.viewport {
  border-right: 2px solid #404040;
}

.viewport canvas {
  display:block; /* this prevents a few extra pixels from appearing at the bottom of the viewport */
}

.root-app {
  background-color: #202020;
  color: #ccc;
}

.root-app td {
  vertical-align: top;
  border-spacing: 0;
  padding:0;
}

.scroll-box {
  height: 100%;
  overflow-y:auto;
}

input {
  background-color: #C5C5C5;
  color: black;
}

button {
  border-color: #e0e0ff;
  background-color: #d0d0d5;
}

button:active {
  background-color: #f0f0ff;
}

button:disabled,
button[disabled] {
  background-color: #aaa;
  color: #555;
  border-color: #ccc;
}

/* Tab bg/fg */
.nav-item {
  background-color: #555;
  color: #ccc;
}

/* Tab when clicking */
a.nav-item:hover {
  border-color: #55f;
  color: #eef;
}

.nav-tabs a.nav-link {
  border-right:1px solid black;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding:3px 3px;
}

/* Active tab */
.nav-tabs a.nav-link.active {
  background-color: #aaa;
  color: black;
  border-color: #ccc
}

/* Dark line below the tabs */
nav.nav-tabs {
  border-bottom: 1px solid #101010;
}